/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 @font-face {
    font-family: "IRANSansWeb";
    src: local(IRANSansWeb Thin), url("../fonts/sans-woff/IRANSansWeb_UltraLight.woff") format("woff");
    font-weight: 100;
}

@font-face {
   font-family: "IRANSansWeb";
   src: local(IRANSansWeb Light), url("../fonts/sans-woff/IRANSansWeb_Light.woff") format("woff");
   font-weight: 300;
}

@font-face {
   font-family: "IRANSansWeb";
   src: local(IRANSansWeb Regular), url("../fonts/sans-woff/IRANSansWeb.woff") format("woff");
   font-weight: 400;
}

@font-face {
   font-family: "IRANSansWeb";
   src: local(IRANSansWeb Medium), url("../fonts/sans-woff/IRANSansWeb_Medium.woff") format("woff");
   font-weight: 500;
}

@font-face {
   font-family: "IRANSansWeb";
   src: local(IRANSansWeb Bold), url("../fonts/sans-woff/IRANSansWeb_Bold.woff") format("woff");
   font-weight: 700;
}

html {
   font-family: "IRANSansWeb", sans-serif;
}

h3 {
   font-size: 17pt;
   font-weight: 900;
   line-height: inherit;
}

p {
   margin: 0;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.ingr-fst-group-posts {
   /*margin-top: 10px !important;*/
}

.ingr-margin-b-0 {
   /* margin: 0px !important; */
}

.ingr-fst-group-posts .row, .card-image, .card-content, .card-action {
   /* margin: 0px !important; */
}

.ingr-fst-group-posts .card-content, .ingr-fst-group-posts .card-reveal {
   font-size:9pt;
   /*padding: 7px !important;*/
}

.ingr-inline-icon-valign {
   display: inline-flex;
   vertical-align: middle;
}

#id-ingr-searchbox {
   border-top: solid 1px black;
   border-bottom: solid 1px black;
}

#id-ingr-fixed-btn {
   bottom: auto !important;
   top: 14px;
}

/* Ingrastam hover shift - start */
.ingr-hover-shift{
   position:relative;
   z-index: 1;
}
.ingr-hover-shift, .ingr-hover-shift:after, .ingr-hover-shift:before{
   transition: all .5s;
}
.ingr-hover-shift:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #616161;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
.ingr-hover-shift:hover:after {
  opacity: 0.1;
  visibility: visible;
  height: 100%;
}

/* Ingrastam hover shift - end */


.cards-container {
  column-break-inside: avoid;
}
.cards-container .card {
  display: inline-block;
  overflow: visible;
}

@media only screen and (max-width: 600px) {
  .cards-container {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media only screen and (min-width: 601px) {
  .cards-container {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media only screen and (min-width: 993px) {
  .cards-container {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
.text-center {
  text-align: center;
}
